.AnimatedformGroup{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDD;
  padding-top: 8.38px;
  position: relative;
  margin-bottom: 3px;
}

.AnimatedformGroup:hover{
  border-bottom: 1px solid #333;
}

.animatedLBL{
  position: absolute;
  top: 0;
  left: 0;
}

.animatedLBL.empty{
  animation: labelTranslateUnfocusEmpty 0.4s ease-in-out forwards;
}

.animatedLBL.emptyFocus{
  animation: labelTranslateFocusEmpty 0.4s ease-in-out forwards;
}

.Input{
  width: 100%;
  border: none;
  height: 40px;
}

.Input:focus{
  border: none !important;
}

@keyframes labelTranslateFocusEmpty {
  0% {
    top: 50%;
    transform: translateY(-25%);
  }
  100% {
    top: 0;
  }
}

@keyframes labelTranslateUnfocusEmpty
{
  0% {
    top: 0;
  }
  100% {
    top: 50%;
    transform: translateY(-25%);
  }
}